.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post_image {
    object-fit: contain;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post_text {
    font-weight: normal;
    padding: 20px;
    color:gray;
}

.post_text strong {
    color: black;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post_avatar {
    margin-right: 10px;
}

.post_features {
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

.post_icon{
    margin: 0 5px
}

.post_icon:hover {
    cursor: pointer;
}

.like .MuiSvgIcon-root {
    color: rgb(255, 25, 25);
}

.post_commentForm {
    display: flex;
    margin: 10px;
}

.post_commentText {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    outline-width: 0;
}

.post_commentForm button {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    background-color: transparent;
}

.post_comments {
    margin: 20px;
    font-size: 14px;
}

.post_like {
    margin: 20px;
}